<a href="https://colab.research.google.com/github/CodewordSupriya/Practice/blob/main/Spliting%20column%20practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [2]:
print("Hello")

Hello

In [5]:
df=pd.DataFrame("/content/PD 2023 Wk 1 Input.csv")

ValueError: DataFrame constructor not properly called!

In [6]:
train = pd.read_csv("/content/PD 2023 Wk 1 Input.csv")

In [7]:
print(train)

    Transaction Code  Value  Customer Code  Online or In-Person  \
0    DTB-716-679-576   1448         100001                    2
1     DS-795-814-303   7839         100001                    2
2    DSB-807-592-406   5520         100005                    1
3     DS-367-545-264   7957         100007                    2
4    DSB-474-374-857   5375         100000                    2
..               ...    ...            ...                  ...
360  DTB-116-439-102   6708         100001                    1
361   DS-849-981-514   8500         100000                    2
362   DS-726-686-279   9455         100006                    2
363   DS-551-937-380    475         100002                    1
364   DS-976-542-770   7364         100009                    1

        Transaction Date
0    20/03/2023 00:00:00
1    15/11/2023 00:00:00
2    14/07/2023 00:00:00
3    18/08/2023 00:00:00
4    26/08/2023 00:00:00
..                   ...
360  29/01/2023 00:00:00
361  29/10/2023 00:00:00
362  10/08/2023 00:00:00
363  11/10/2023 00:00:00
364  09/10/2023 00:00:00

[365 rows x 5 columns]

In [9]:
train[['programme1','programme2']] = train['Transaction Code'].str.split('-', expand=True)

ValueError: Columns must be same length as key

In [10]:
train['Transaction Code']

0      DTB-716-679-576
1       DS-795-814-303
2      DSB-807-592-406
3       DS-367-545-264
4      DSB-474-374-857
            ...
360    DTB-116-439-102
361     DS-849-981-514
362     DS-726-686-279
363     DS-551-937-380
364     DS-976-542-770
Name: Transaction Code, Length: 365, dtype: object

In [13]:
train['Transaction Code'].str.split('-',1, expand=True)

<ipython-input-13-1e59ea38e86d>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  train['Transaction Code'].str.split('-',1, expand=True)

       0            1
0    DTB  716-679-576
1     DS  795-814-303
2    DSB  807-592-406
3     DS  367-545-264
4    DSB  474-374-857
..   ...          ...
360  DTB  116-439-102
361   DS  849-981-514
362   DS  726-686-279
363   DS  551-937-380
364   DS  976-542-770

[365 rows x 2 columns]

In [15]:
train[['Bank', 'Last Name']]=train['Transaction Code'].str.split('-',1, expand=True)

<ipython-input-15-322d12d28632>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  train[['First Name', 'Last Name']]=train['Transaction Code'].str.split('-',1, expand=True)

In [16]:
print(train)

    Transaction Code  Value  Customer Code  Online or In-Person  \
0    DTB-716-679-576   1448         100001                    2
1     DS-795-814-303   7839         100001                    2
2    DSB-807-592-406   5520         100005                    1
3     DS-367-545-264   7957         100007                    2
4    DSB-474-374-857   5375         100000                    2
..               ...    ...            ...                  ...
360  DTB-116-439-102   6708         100001                    1
361   DS-849-981-514   8500         100000                    2
362   DS-726-686-279   9455         100006                    2
363   DS-551-937-380    475         100002                    1
364   DS-976-542-770   7364         100009                    1

        Transaction Date First Name    Last Name
0    20/03/2023 00:00:00        DTB  716-679-576
1    15/11/2023 00:00:00         DS  795-814-303
2    14/07/2023 00:00:00        DSB  807-592-406
3    18/08/2023 00:00:00         DS  367-545-264
4    26/08/2023 00:00:00        DSB  474-374-857
..                   ...        ...          ...
360  29/01/2023 00:00:00        DTB  116-439-102
361  29/10/2023 00:00:00         DS  849-981-514
362  10/08/2023 00:00:00         DS  726-686-279
363  11/10/2023 00:00:00         DS  551-937-380
364  09/10/2023 00:00:00         DS  976-542-770

[365 rows x 7 columns]

In [17]:
train.drop(['Transaction Code'], axis=1, inplace=True)

In [20]:
train.to_csv('sol.csv', index=False)

In [22]:
train = pd.read_csv("/content/PD 2023 Wk 1 Input.csv")

In [23]:
train[['Bank', 'Code']]=train['Transaction Code'].str.split('-',1, expand=True)

<ipython-input-23-a0ee766f325f>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  train[['Bank', 'Code']]=train['Transaction Code'].str.split('-',1, expand=True)

In [24]:
train.drop(['Transaction Code'], axis=1, inplace=True)

In [25]:
train.to_csv('sol.csv', index=False)

In [26]:
print(train)

     Value  Customer Code  Online or In-Person     Transaction Date Bank  \
0     1448         100001                    2  20/03/2023 00:00:00  DTB
1     7839         100001                    2  15/11/2023 00:00:00   DS
2     5520         100005                    1  14/07/2023 00:00:00  DSB
3     7957         100007                    2  18/08/2023 00:00:00   DS
4     5375         100000                    2  26/08/2023 00:00:00  DSB
..     ...            ...                  ...                  ...  ...
360   6708         100001                    1  29/01/2023 00:00:00  DTB
361   8500         100000                    2  29/10/2023 00:00:00   DS
362   9455         100006                    2  10/08/2023 00:00:00   DS
363    475         100002                    1  11/10/2023 00:00:00   DS
364   7364         100009                    1  09/10/2023 00:00:00   DS

            Code
0    716-679-576
1    795-814-303
2    807-592-406
3    367-545-264
4    474-374-857
..           ...
360  116-439-102
361  849-981-514
362  726-686-279
363  551-937-380
364  976-542-770

[365 rows x 6 columns]